.navbar-brand > img {
    display: block;
    width: 80px;
    height: 50px;
}

.form-signin {
    background-color: rgba(0%, 0%, 0%, 0.5);
    width: 50%;
    margin: 0 auto;
    padding: 2% 0%;
}

.form-signin .btn-block {
    width: 50%;
    margin: 0 auto;
    padding: ;
}

.form-control {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.green {
    color: #fff;
    background: #18bc9c;
}

.introductionDiv{
    margin: 0 0;
    padding: 2% 0;
    text-align: center;
}

.profilePicture {
    display: inline-block;
    position: relative;
    padding: 0 0;
    width : 300px;
    text-align: center;
    background-color: transparent;
}

.circle {
    width: 300px;
    height: 200px;
    -webkit-clip-path: circle(38% at 50% 50%);
    color: #000000;
    background-color: #000000;
}

.profilePicture > h1{
    position: relative;
    margin: 0 0 ;
    padding: 0 0;
    font-size: 180%;
    line-height: 80%;
    text-align: center;
}

.introductionContent {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: 2% 2%;
    width: 50%;
    height: 240px;
    color: black;
    text-align: center;
    overflow: hidden;
}

.introductionContent > h2{
    text-align: left;
    color: white;
    font-size: 120%;
    font-style: normal;
    font-weight: 100; 
}

#doc {
    margin: 0 0;
}

#content {
    margin: 0 0;
}

.blueberry {
	width: 100%;
	margin: 0 0;
}

.blueberry .slides {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 0;
	padding: 0 0;
}

.blueberry .pager {
	position: relative;
	text-align: center;
	top: -30px;
	height: 0px;
	margin: 0 0;
}

.blueberry .pager li a,
.blueberry .pager li a span {
	display: block;
	height: 10px;
	width: 10px;
}

.blueberry .pager li a {
	padding: 8px 8px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
	border-radius: 6px;
	background-color: transparent;
}
.blueberry .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
	border-radius: 2px;
}