


<!DOCTYPE html>
<html>
<head>
    <title>SocketTest</title>
    <link href="/stylesheets/jquery-contextMenu/jquery.contextMenu.min.css" rel="stylesheet" type="text/css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/three.min.js"></script>
    <script src="/javascripts/CSS3DRenderer.js"></script>
      <script src="/javascripts/Stats.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="/javascripts/jquery.contextMenu.min.js"></script>
      <script src="/javascripts/jquery.ui.position.min.js"></script>
      <script type='text/javascript' src='javascripts/toolbar/DAT.GUI.min.js'></script>
</head>
<body>
    <div id="zzz">
        <h1>HIHI</h1>
    </div>
    <script>
        $("#zzz").contextMenu({
            selector: 'h1',
            callback: function(key, options) {
                var m = "clicked: " + key;
                alert("Z");
                window.console && console.log(m) || alert(m);
            },
            items: {
                "edit": {name: "Edit", icon: "edit"},
                "cut": {name: "Cut", icon: "cut"},
                copy: {name: "Copy", icon: "copy"},
                "paste": {name: "Paste", icon: "paste"},
                "delete": {name: "Delete", icon: "delete"},
                "sep1": "---------",
                "quit": {name: "Quit", icon: function(){
                    return 'context-menu-icon context-menu-icon-quit';
                }}
            }
        });
    </script>


</body>

</html>
