<!DOCTYPE html>
<html>
<head>
    <title>SocketTest</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/three.min.js"></script>
    <script src="/javascripts/CSS3DRenderer.js"></script>
    <script src="/javascripts/Stats.js"></script>
</head>
<body>
    <div id="GamePlay" style="top: 0; left: 0; position: absolute;"></div>
    <script src="/javascripts/Game/Class.js"></script>
    <script src="/javascripts/Game/Character.js"></script>
    <script src="/javascripts/Game/World.js"></script>
    <script src="/javascripts/Game/Game.js"></script>
    <script src="/javascripts/Game/Main.js"></script>


</body>

</html>
