<!DOCTYPE html>
<html>

<head>
    <title>Upload</title>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
</head>

<body>
    密碼:<input id="passwd" type="password"><br> id:
    <input id="id" type="text"><br> type:
    <select id="select">
        <option value="script">script</option>
        <option value="file">file</option>
    </select>
    <div id="datadiv"></div>
    <button type="submit">新增至資料庫</button>

    <script type="text/javascript">
        $("#select").on('change', changeDataDisplay);
        $("button[type=submit]").on("click", function(e) {
            var object = {
                id: $("#id").val(),
                type: $("#select").find(":selected").val(),
                data: {}
            };
            switch (object.type) {
                case "script":
                    var arr = $("#scripts").val().split('\n').join('');
                    var scripts = eval(arr);
                    object.data.scripts = scripts;
                    object.data.type = $('#datatype').val();
                    break;
                case "file":
                    object.data.path = $("#path").val();
                    break;
            }
            object.password = $("#passwd").val();


            console.log(object);


            $.ajax({
                type: 'post',
                url: 'Upload/do',
                data: JSON.stringify(object),
                success: function() {
                    alert("上傳成功!");

                }
            });
        });

        function changeDataDisplay() {
            switch ($("#select").find(":selected").val()) {
                case "script":
                    $("#datadiv").empty();
                    $("#datadiv").prepend("Data:<br>");
                    $("#datadiv").append("DataType:");
                    $("#datadiv").append($("<input id='datatype' type='text' value='Mesh'>"));
                    $("#datadiv").append("<br>Scripts:<br>");
                    $("#datadiv").append($("<textarea id='scripts' style='width:500px; height:200px;'>[\"\"\n,\n\"\"]</textarea>"))
                    break;
                case "file":
                    $("#datadiv").empty();
                    $("#datadiv").prepend("Path:");
                    $("#datadiv").append($("<input id='path' style='width:500px' type='text'/>"));
                    break;
            }
        }
        changeDataDisplay();
    </script>
</body>

</html>
