<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Space - Web</title>
</head>

<body>
	<canvas id="canvas"></canvas>
	 <script src="javascripts/jquery-3.1.1.min.js"></script>
	 <script src="/socket.io/socket.io.js"></script>
	 <script src="javascripts/webcam.js"></script>
	 <script src="javascripts/MainWebcam.js"></script>
</body>
</html>